@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'noe';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Noe Display Medium.ttf') format('woff2');
}

@font-face {
	font-family: 'work';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/WorkSans.ttf') format('woff2');
}

@font-face {
	font-family: 'pixel';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/pixel.ttf') format('woff2');
}

@font-face {
	font-family: 'nautigal';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/nautigal.ttf') format('woff2');
}




@layer base {
	h2 {
		@apply font-sans text-4xl font-bold;
	}

	h4 {
		@apply text-lg font-semibold;
	}
}

@layer components {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.p-xs {
		@apply font-sans text-xs;
	}

	.login-input {
		@apply w-full font-extralight border-[1px] rounded-md border-zinc-300 py-2 px-5 my-1;
	}
}

main {
	min-height: calc(100vh - 104px);
}

code[class*='language-'],
pre[class*='language-'] {
	@apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
