@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'noe';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Noe Display Medium.ttf') format('woff2');
}

@font-face {
	font-family: 'titillium';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap');
}

@font-face {
	font-family: 'studio';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
}


@layer base {
	h2 {
		@apply font-sans text-4xl font-bold
	}

	h4 {
		@apply text-lg font-semibold 
	}
}

@layer components {
	.flex-center {
		@apply flex justify-center items-center
	}

	.p-xs {
		@apply font-sans text-xs
	}

	.yellow-link {
		@apply  text-amber-400 border-b-[1px] border-amber-400
	}

	.login-input {
		@apply w-full font-studio font-extralight border-[1px] rounded-md border-zinc-300 py-2 px-5 my-1
	}
}

main {
	min-height: calc(100vh - 104px);
}

code[class*='language-'],
pre[class*='language-'] {
	@apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}


/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

